* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Poppins";
  background: rgba(83, 27, 156, 0.685);
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.text-white {
  color: #fff;
}
